<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/partials/card.css" />
  </head>

  <body>
    <%- include('./partials/header') %>

    <img
      class="banner-img"
      src="/images/img-home-banner.jpg"
      alt="Promoción fiestas"
    />

    <main class="index-container">
      <section class="featured-products">
        <h2 class="featured-products-title">Basado en tu última visita</h2>  

        <div class="card-container">
          <% products.slice(0, 8).forEach(product => { %> 
          <%- include('./partials/card.ejs', {product}) %> <% }) %>
          </div>
      </section>

      <section class="featured-products">
        <h2 class="featured-products-title">Sección de Ofertas</h2>

        <div class="card-container">
          <% products.slice(0, 8).forEach(product => { %> 
          <%- include('./partials/card.ejs', {product}) %> 
          <% }) %>
        </div>
      </section>

    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
