<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>

    <main class="main-login">
      <form action="/users/login" method="post" class="login-form">
        <div class="login-container">
          <h2 class="login-title">Ingresá a tu usuario</h2>
          <input
            class="form-info-input"
            type="text"
            name="username"
            placeholder="Nombre de usuario"
          />
            <% if (locals.errors && errors.username) { %>
              <div class="flash-errors"><%= errors.username.msg %></div>             
            <% } %>

          <input
            class="form-info-input"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
          />
            <% if (locals.errors && errors.password) { %>
              <div class="flash-errors"><%= errors.password.msg %></div>             
            <% } %>          
        </div>
        <div class="login-submit-container">
          <button type="submit" class="form-submit">Ingresar</button>
        </div>
      </form>
    </main>

    <%- include('./partials/footer') %>
  </body>
</html>
