<!DOCTYPE html>
<html lang="es">
  <%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <main>
        Hello <%= user.username %>
        <div>Foto de perfil: <img src="/images/users/<%= user.profilePicture %>" alt="Foto de perfil"> </div>
        Cerrar sesión: <a href="/users/logout">Salir</a>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>