<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="/css/users/register.css" />
  </head>  
  
  <body>
    <%- include('./partials/header') %>

    <main>
      
      <section class="register-container">
        <article class="register-title">
          <h2>Registrate</h2>
        </article>

        <article class="form-container">
          <form action="/users/register" method="post" enctype="multipart/form-data">

              <h3 class="register-subtitle">Datos personales</h3>
              
              <input type="text" name="fullName" id="fullName" placeholder="Nombre completo" value="<%= locals.oldData ? oldData.fullName : "" %>" />
              <% if (locals.errors && errors.fullName) { %>
                <div class="errors-msg">
                <%= errors.fullName.msg %>
                </div>
              <% } %>

              <input type="email" name="email" placeholder="E-mail" value="<%= locals.oldData ? oldData.email : "" %>" value="<%= locals.oldData ? oldData.email : "" %>" />
              <% if (locals.errors && errors.email) { %>
                <div class="errors-msg">
                <%= errors.email.msg %>
                </div>           
              <% } %>
              <input type="text" name="address" placeholder="Domicilio" value="<%= locals.oldData ? oldData.address : "" %>"/>
              <% if (locals.errors && errors.address) { %>
                <div class="errors-msg">
                <%= errors.address.msg %>
                </div>            
              <% } %>
              <label for="birthDate">Fecha de nacimiento</label>
              <input type="date" name="birthDate" value="<%= locals.oldData ? oldData.birthDate : "" %>"/>
              <% if (locals.errors && errors.birthDate) { %>
                <div class="errors-msg">
                <%= errors.birthDate.msg %>
                </div>           
              <% } %>
              
              <section class="register-details-container">
            
                <h3>Perfil de usuario </h3>
                <input class="register-comprador-button" type="radio" name="userType"/> 
                Comprador           
                <input type="radio" class="register-vendedor-button" name="userType"/> 
                Vendedor
                
                <h3>Intereses</h3>

                <input class="register-interests-input" type="checkbox" name="interests" /> 
                Electro
               
                <input class="register-interests-input" type="checkbox" name="interests"/> 
                Moda
                            
                <input class="register-interests-input" type="checkbox" name="interests" /> 
                Hogar
              
                <input class="register-interests-input" type="checkbox" name="interests"/> 
                Juguetería
              
                <input class="register-interests-input" type="checkbox" name="interests" /> 
                Vida sana
              </section>

              <section class="register-section">
                <h3>Nombre de usuario</h3>
                
                <input type="text" name="username" placeholder="Nombre de usuario" value="<%= locals.oldData ? oldData.username : "" %>"/>

                <% if (locals.errors && errors.username) { %>
                  <div class="errors-msg">
                    <%= errors.username.msg %>
                  </div>         
                <% } %>

                <h3>Contraseña</h3>
              
                <input type="password" name="password" placeholder="Contraseña"/>
                
                <% if (locals.errors && errors.password) { %>
                  <div class="errors-msg">
                    <%= errors.password.msg %>
                  </div>         
                <% } %>
                
                <h3>Confirmar contraseña</h3>
                
                <input type="password" name="confirmPassword" placeholder="Confirmar contraseña" />
                
                <% if (locals.errors && errors.confirmPassword) { %>
                  <div class="errors-msg">
                    <%= errors.confirmPassword.msg %>
                  </div>         
                <% } %>      

              </section>

            <section class="register-section">
              <h3>Foto de perfil</h3>

              <input type="file" name="profilePicture" class="register-upload" accept=".jpg">
            </section>

            <div class="register-buttons-container">
              <button type="submit" class="form-submit" name="submit">Enviar</button>
              <button type="reset" class="form-submit" name="reset">Restablecer</button>  
            </div>
          </form>
        </article> 
      </section>
    </main>
    <%- include('./partials/footer') %>    
  </body>
</html>
